//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------
// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
@import "./component/fonts";
//Header
.navbar-container {
    background-color: #FFF5ED;
}

.navbar-brand {
    #LogoName {
        font-family: Spartan;
        padding-top: 0.7rem;
        color: $primary;
        font-size: 21px;
        font-weight: 700;
        line-height: 22px;
    }
    img {
        width: 40px;
    }
}

.nav-item {
    position: relative;
    .nav-link {
        color: black !important;
        font-weight: 500;
        font-size: 16px;
        opacity: 80%;
        &:hover {
            color: black !important;
            opacity: 100%;
        }
    }
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $primary;
        width: 0%;
        content: "";
        height: 2px;
        transition: all 0.5s;
    }
    &:hover::after {
        width: 100%;
    }
}

//Homepage
.section-intro-landing {
    margin-top: 150px;
    min-height: calc(100vh - 170px);
}

.HomepageCoverPhoto {
    width: 500px;
}

.homepage-btn {
    border: none;
    width: 300px;
    &:hover {
        // border: none;
        background-color: $secondary;
    }
}

.badge-background-color {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: white;
    padding: 7px;
    border-radius: 8px;
}

.post-img {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#location {
    width: 25px;
}

#discover {
    width: 300px;
}

//footer
footer {
    p {
        color: #E5E5E5;
        font-size: 14px;
        font-weight: 400;
    }
}

.footer-section-1 {
    background-color: #212529;
}

.footer-section-2 {
    background-color: #343a40;
    p {
        font-size: 14px;
    }
}