// responsive
@media (max-width: $sm-breakpoint) {}

@media (max-width: $md-breakpoint) {
    .HomepageCoverPhoto {
        width: 400px;
    }
}

@media (max-width: 1000px) {
    .login-img {
        display: none;
        width: 0px;
    }
    .login-wrap {
        width: 100%;
    }
}