//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------
// For example, changing the primary color
$primary: #F37A34;
$secondary: #424174;
$md-breakpoint: 761px;
$sm-breakpoint: 576px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;